.contact-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#43cea2, #185a9d);
  margin-top: 2rem;
}

.mb-3 {
  width: 60%;
}

.form-position {
  margin-top: 2rem;
}
.form-label {
  font-family: 'Paralines';
  color: white;
}
