@font-face {
  font-family: 'Paralines';
  src: url('../../assets/fonts/Paralines-Regular.otf');
}
@font-face {
  font-family: 'Argon';
  src: url('../../assets/fonts/ArgonPERSONAL-Regular.otf');
}

@font-face {
  font-family: 'IBMP-Bold';
  src: url('../../assets/fonts/IBMPlexSerif-Bold.ttf');
}
@font-face {
  font-family: 'IBMP-SemiBold';
  src: url('../../assets/fonts/IBMPlexSerif-SemiBold.ttf');
}
@font-face {
  font-family: 'IBMP-Regular';
  src: url('../../assets/fonts/IBMPlexSerif-Regular.ttf');
}
@font-face {
  font-family: 'Yellowtail-Regular';
  src: url('../../assets/fonts/Yellowtail-Regular.ttf');
}
@font-face {
  font-family: 'OstrichSans-Black';
  src: url('../../assets/fonts/OstrichSans-Black.otf');
}
