.progress {
  margin-bottom: 5px;
  width: 85%;
}
.skills-name {
  font-family: 'IBMP-SemiBold';
  text-align: center;
}

.progress-bar {
  border: 5px solid black;
}
.fill-bar {
  width: 85%;
}
.fill-html {
  width: 85%;
}
.fill-css {
  width: 70%;
}
.fill-javascript {
  width: 60%;
}
.fill-react {
  width: 55%;
}
.fill-node {
  width: 55%;
}
.fill-express {
  width: 55%;
}
.fill-redux {
  width: 45%;
}
.fill-mongo {
  width: 45%;
}
